:javascript
  global.currentModuleId = #{@current_module.id};
  global.currentPackageId = #{@current_package.id};
  global.currentFileId = undefined;

%h1= t(:title)
#content-wrap
  #column-headers
    .col-header Modules
    .col-header Packages
    .col-header Files
  #main-columns
    #module.col
    #package.col
    #file.col
  #popup-wrapper-fullwidth
    #popup-wrapper
      #popup.hidden
