/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

ul.hmenu {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}

ul.hmenu li {
  display: inline;
}

#content-wrap {
  margin: 0 auto;
  width: 1020px;
}

.col {
  width: 320px;
  height: 500px;
  overflow-x: hidden;
  overflow-y: scroll;
  float: left;
  margin-right: 10px;
  margin-left: 10px;
}

.item {
  background-color: #eae8f5;
  width: auto;
  height: 36px;
  margin: 2px 0px;
}

.active {
  background-color: #cecce1;
}

.hidden {
  visibility: hidden;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}
