/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

ul.hmenu {
  list-style: none;
  margin: 0 0 0.5em;
  position: absolute;
  padding: 0;
  display: block;
}

ul.hmenu li {
  display: inline;
}

#content-wrap {
  margin: 0 auto;
  width: 1020px;
}

.col-header {
  width: 320px;
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 6px;
  text-align: center;
  font-size: 20px;
}

.col {
  width: 320px;
  height: 500px;
  overflow-x: hidden;
  overflow-y: scroll;
  float: left;
  margin-right: 10px;
  margin-left: 10px;
}

.item {
  background-color: #eae8f5;
  width: auto;
  height: 36px;
  margin: 2px 0px;
}

.active {
  background-color: #cecce1;
}

.hidden {
  visibility: hidden;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

h1, h2 {
  text-align: center;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  margin: 5px 0;
}

.vote-btn {
  width: 18px;
  height: 18px;
  /* border: 1px solid black; */
  float: right;
  margin: 4px;
}

.green {
  background-color: #0bf375;
}

.yellow {
  background-color: #f9f375;
}

.pink {
  background-color: #f97575;
}

.gray {
  background-color: #9998a0;
}

.vote-empty, .vote-full, .vote-partial {
  margin: 2px;
  padding: 0;
  width: 14px;
  height: 14px;
}

.vote-empty {
  background-color: white;
}

.vote-full {
  /* background-color: white; */
  /* TBD: different (darker?) colors for every border color - gray, green, rose, yellow */
}

.vote-partial {
  background-image: url(vote-partial.png);
}

.text-content {
  width: 180px;
  float: left;
  padding-left: 5px;
}

#popup-wrapper-fullwidth {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  left: 0px;
  top: 100px;

  /* http://stackoverflow.com/questions/3680429/click-through-a-div-to-underlying-elements */
  /* TBD: add fix for IE */
  pointer-events: none;
}

#popup-wrapper {
  width: 960px;
  margin: 0 auto;
}

#popup {
  width: 600px;
  height: 400px;

  background-color: #ffffdd;
  border: 1px solid #d7d7d7;
  opacity: 0.95;
  display: block;
  padding: 6px;
  overflow-x: auto;
  overflow-y: auto;

  /* http://stackoverflow.com/questions/3680429/click-through-a-div-to-underlying-elements */
  /* TBD: add fix for IE */
  pointer-events: auto;
}

.voters-title1 {
  padding-left: 0px;
  font-size: 22px;
}

.voters-title2 {
  padding-left: 20px;
  font-size: 20px;
}

.voters-title3 {
  padding-left: 40px;
  font-size: 18px;
}

hr {
  width: 100%;
  height: 1px;
  background: #ccc;
  border: 0;
}
